@import "tailwindcss";

/* Custom scrollbar styles */
@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 10px;
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #29292b;
    border-radius: 10px;
    border: none;
  }
  
  .scrollbar-thin:hover::-webkit-scrollbar-thumb {
    background: rgba(168, 85, 247, 0.5);
  }
  
  .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: rgba(168, 85, 247, 0.7);
  }
  
  .scrollbar-thin::-webkit-scrollbar-corner {
    background: transparent;
  }
}
